body {
            font-family: 'Roboto', 'Arial', sans-serif;
                        margin: 0;
                    padding: 0;
                    }
            
            *, *:before, *:after {
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
            }
            
            .cs-topper {
                font-size: var(--topperFontSize);
                line-height: 1.2em;
                text-transform: uppercase;
                text-align: inherit;
                letter-spacing: .1em;
                font-weight: 700;
                color: var(--primary);
                margin-bottom: 0.25rem;
                display: block;
            }
            
            .cs-title {
                font-size: var(--headerFontSize);
                font-weight: 900;
                line-height: 1.2em;
                text-align: inherit;
                max-width: 43.75rem;
                margin: 0 0 1rem 0;
                color: var(--headerColor);
                position: relative;
            }
            
            .cs-text {
                font-size: var(--bodyFontSize);
                line-height: 1.5em;
                text-align: inherit;
                width: 100%;
                max-width: 40.625rem;
                margin: 0;
                color: var(--bodyTextColor);
            } 