body {
            font-family: 'Roboto', 'Arial', sans-serif;
                        margin: 0;
                    padding: 0;
                    }
            
            *, *:before, *:after {
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
            }
            
            .cs-topper {
                font-size: var(--topperFontSize);
                line-height: 1.2em;
                text-transform: uppercase;
                text-align: inherit;
                letter-spacing: .1em;
                font-weight: 700;
                color: var(--primary);
                margin-bottom: 0.25rem;
                display: block;
            }
            
            .cs-title {
                font-size: var(--headerFontSize);
                font-weight: 900;
                line-height: 1.2em;
                text-align: inherit;
                max-width: 43.75rem;
                margin: 0 0 1rem 0;
                color: var(--headerColor);
                position: relative;
            }
            
            .cs-text {
                font-size: var(--bodyFontSize);
                line-height: 1.5em;
                text-align: inherit;
                width: 100%;
                max-width: 40.625rem;
                margin: 0;
                color: var(--bodyTextColor);
            } 
/* Success Modal */
@media only screen and (min-width: 0em) {
  .cs-report-button {
    position: fixed;
    background-color: #fff;
    border: none;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 10000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 2.875rem;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.875rem;
    padding: 0 1.5rem;
    transition: transform 0.2s, color 0.3s, background-color 0.3s;
  }
  .cs-report-button:hover {
    transform: scale(1.1);
    background-color: #0C293E;
    color: #fff;
  }
  .cs-report-button:hover .light {
    display: none;
  }
  .cs-report-button:hover .dark {
    display: block;
  }
  .cs-report-button .dark {
    display: none;
  }
  .cs-report-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    pointer-events: none;
  }
  .cs-report-form.cs-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .cs-report-form.cs-open .cs-form {
    transform: translateY(0);
  }
  .cs-report-form .cs-form {
    width: 90%;
    max-width: 46.875rem;
    /* 24px - 48px top and bottom */
    /* 16px - 48px left and right */
    padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    gap: 0.75rem;
    transform: translateY(6.25rem);
    transition: transform .3s;
  }
  .cs-report-form .closeReport {
    font-size: 20px;
    border: none;
    width: 1.8em;
    height: 1.8em;
    background: #f1f1f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: clamp(1.5rem, 5.18vw, 3rem);
    right: clamp(1rem, 4vw, 3rem);
    transition: filter .3s, transform .3s;
  }
  .cs-report-form .closeReport:hover {
    filter: brightness(90%);
    transform: rotate(90deg);
  }
  .cs-report-form h2 {
    font-size: 1.5625rem;
    text-align: left;
  }
  .cs-report-form p {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    margin: 0 0 2rem 0;
    max-width: 34.375rem;
  }
  .cs-report-form .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  .cs-report-form .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #F7F7F7;
    border-radius: 0.5rem;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  .cs-report-form .cs-input::placeholder {
    color: #7D799C;
    opacity: .6;
  }
  .cs-report-form .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  .cs-report-form .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 0.5rem;
    background-color: #0C293E;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color .3s;
  }
  .cs-report-form .cs-button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a!important;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  .cs-report-form .cs-button-solid:hover {
    color: #0C293E;
  }
  .cs-report-form .cs-button-solid:hover:before {
    width: 100%;
  }
  .cs-report-form .cs-submit {
    width: 100%;
    min-width: 12.5rem;
    border: none;
  }
  .cs-report-form .cs-submit:hover {
    color: #fff;
    cursor: pointer!important;
  }
} 
